{
  "extends": ["standard", "standard-react", "plugin:import/errors"],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": "off",
    "jsx-quotes": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
