.rcc-Carousel {
  position: relative;
  user-select: none;
}

.rcc-List {
  overflow: hidden;
}

.rcc-ListItems {
  white-space: nowrap;
  transform-style: preserve-3d;
}

.rcc-Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: calc(50% - 8px);
  font-size: 16px;

  & > svg {
    border-radius: 50%;
    background-color: white;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.rcc-Dot {
  cursor: pointer;
}

.rcc-Dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rcc-Employees {

}

.rcc-Employee {
  position: relative;
  &-reflection {
    display: none;
    position: absolute;
    bottom: 0;
    transform: scaleX(-1) rotate(180deg);
    filter: brightness(0.8);
  }
}
