.rcc-Carousel {
  position: relative;
  user-select: none;
}

.rcc-List {
  overflow: hidden;
}

.rcc-ListItems {
  white-space: nowrap;
}

.rcc-Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  font-size: 16px;
  top: calc(50% - 8px);

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}
