.rcc-Carousel {
  position: relative;
  user-select: none;

  & > div {
    display: flex;
    align-items: center;
  }
}

.rcc-List {
  overflow: hidden;
}

.rcc-ListItems {
  white-space: nowrap;
}

.rcc-Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  font-size: 16px;

  & > img {
    border: 3px solid white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.rcc-Dot {
  cursor: pointer;
}

.rcc-Dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
